ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
p {
  font-weight: normal;
}
h1,
h2 {
  font-weight: 700;
}
.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/* header */
.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-symbol {
  color: #2e2f42;
}

.header-list {
  display: flex;
  gap: 40px;
  padding-right: 332px;
}
.header-navigation-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-studio {
  position: relative;
  color: #404bbf;
}
.header-studio::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.header-navigation-links:hover,
.header-navigation-links:focus {
  color: #404bbf;
}
/* Address-information */
.adress-info {
  font-style: normal;
}
.adress-info .adress-links:hover,
.adress-info .adress-links:focus {
  color: #404bbf;
}
.address-list {
  display: flex;
  gap: 40px;
  flex-wrap: nowrap;
}
.adress-links {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* First section*/
.first-section {
  background-color: #2e2f42;
  max-width: 1440px;
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
}
.page-title {
  max-width: 496px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.page-title-button {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0 auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-title-button:hover,
.page-title-button:focus {
  background-color: #404bbf;
}
/* Second section */
.second-section {
  padding: 120px 0 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.second-section-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}
.second-section-mini-titles {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.benefits-mini-title {
  text-align: start;
  margin-bottom: 8px;
}
.second-section-paragaph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.benefits-paragraph {
  text-align: start;
}
/* Third section */
.third-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 50px;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-info {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-information {
  padding: 32px 0;
  max-width: 232px;
  margin-left: auto;
  margin-right: auto;
}
.website-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.website-icon-list-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  position: relative;
}
.website-icon-list-item:hover,
.website-icon-list-item:focus {
  background-color: #404bbf;
}
.website-icon-links {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.website-icon-links:hover,
.website-icon-links:focus {
  background-color: #404bbf;
}
.website-icon {
  fill: #f4f4fd;
}

/* Fourth section */
.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f4f4fd;
}
.portfolio-title {
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  width: calc((100% - 48) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-mimi-title {
  text-align: start;
}
.portfolio-mini-par {
  text-align: start;
}
.cashless-list-item-overlay {
  position: relative;
  overflow: hidden;
}
.cashless-payment-overlay {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cashless-list-item-overlay:hover .cashless-payment-overlay {
  transform: translateY(0%);
}
/* Footer */
.footer-page {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}
.footer-logo-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-symbol {
  color: #f4f4fd;
}
.footer-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.footer-website-icon-list {
  max-width: 208px;
  gap: 16px;
}

.footer-social-media-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-div {
  display: flex;
  align-items: baseline;
}
.footer-div-info {
  margin-right: 120px;
}
.footer-div-icons {
  max-width: 208px;
}
.footer-website-icon-list {
  gap: 16px;
  display: flex;
}
.footer-website-icon-list-item {
  width: 40px;
  height: 40px;
}
.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}
.footer-website-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .footer-div-icons{
  display: flex;
} */
.subscribe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-left: 80px;
}
.subcribe-par {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}
.subscribe-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  background-color: transparent;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 12px;
  padding-left: 16px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.subscribe-input::placeholder {
  color: #ffffff;
}
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.subscribe-icon {
  margin-left: 16px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  opacity: 1;
  visibility: visible;
}
.modal {
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #e7e9fc;
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-par {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.review-form-wrapper {
  margin-bottom: 8px;
}
.svg-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon:focus {
  border-color: #4d5ae5;
}
.comment-wrapper{
  margin-bottom: 16px;
}
.review-form-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.review-form-input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.review-form-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.review-form-input:focus + .input-icon {
  fill: #4d5ae5;
}
.review-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.review-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.review-chekbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  line-height: 1.33333;
  text-decoration: underline;
  color: #4d5ae5;
}

.review-form-own-checkbox {
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   justify-content: center;
   align-items: center;
   width: 16px;
   height: 16px;
   border-radius: 2px;
   border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
   display: inline-flex  ;
  cursor: pointer;
   fill: transparent;
}

/* .review-form-checkbox:checked{
  width: 16px;
  height: 16px;
} */
.review-form-checkbox:checked
  + .review-chekbox-label
  .review-form-own-checkbox {
  fill: #f4f4fd;
  background-color: #404bbf;
  border: none;
}
.review-submit-btn {
  border-radius: 4px;
  padding: 16px 32px;
 min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: none;
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-check-icon {
  height: 16px;
}
.check-wrapper {
  margin-top: 0;
  margin-bottom: 24px;
}
