ul, ol{
    list-style-type: none;
}
a{ 
    text-decoration: none;
    cursor: pointer;
}
button{
    cursor: pointer;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF ;
    color: #434455;

}
p{
    font-weight: normal;
}
h1, h2{
    font-weight: 700;
}
/* header */

.logo-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    }
.logo-symbol{
        color: #2e2f42;
    }
.header-navigation-links{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        }
.header-navigation-links:hover,
.header-navigation-links:focus{
        color: #404bbf;
        }
.adress-links{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
          
        }
        .adress-info{
        font-style: normal;
        }
        .adress-info .adress-links:hover,
        .adress-info .adress-links:focus{
            color: #404bbf; 
        }
        /* section 1 */
.page-title{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.first-section{
    background-color: #2E2F42;
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}
.page-title-button{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4d5ae5;
}
.page-title-button:hover,
.page-title-button:focus{
    background-color:#404BBF;
}
.second-section-mini-titles{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.second-section-paragaph{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.footer-page{
    background-color: #2e2f42;
}
.footer-logo-title{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.footer-logo-symbol{
    color: #f4f4fd;
}
.footer-paragraph{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.fourth-section{
    background: #F4F4FD;
}
.team-info{
    background-color: #FFFFFF;
}
.section-title-portfolio{
    line-height: 1.11;
}
.third-section{
    background-color: #F4F4FD;
}